# Build / CMake
out/
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
x64/
x86/
Debug/
Release/
*.aps
*.pdb
*.ilk
*.obj
*.exe

# Otros
*.o
*.exe.manifest
